{{ $directory := "content/" }}
{{ $filename := "scholarly_call.md" }}
{{ if (where (readDir $directory) "Name" $filename) -}}
  <section class="scholarly-paper" id="scholarly-paper">
    <div class="container middle-xs">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1>{{ with $.Site.GetPage "page" "scholarly" }}{{ .Title }}{{ end }}</h1>
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-xs-12 middle-xs">
          {{ with $.Site.GetPage "page" "scholarly" -}}
          {{ .Content }}
          {{- end }}
        </div>
      </div>
    </div>
  </section>
{{- end }}
